.container {
  overflow: auto;
}

.leftBlock {
  width: 55%;
  display: inline-block;
  vertical-align: top;
}

.rightBlock {
  width: 40%;
  display: inline-block;
  float: right;
  vertical-align: top;
}

.text {
  margin: 0;
  font-size: 18px;
  line-height: 150%;
}

@media all and (max-width: 800px){
  .leftBlock {
    width: 100%;
  }
  .rightBlock {
    width: 100%;
    float: none;
  }
}
